@model WebForLink.Web.ViewModels.RoboCorreiosTesteVM
@if (Model != null)
{

    <div class="panel panel-success">
        <div class="panel-heading panel-heading-success">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#bodyCorreios">
                    <b>Correios:</b><span></span>
                </a>
            </h4>
        </div>
        <div id="bodyCorreios" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.HiddenFor(model => Model.ROBO_DT_EXEC)
                        @Html.HiddenFor(model => Model.CORR_CEP)
                        @Html.LabelFor(x => Model.CORR_BAIRRO)<br />@Html.DisplayFor(model => Model.CORR_BAIRRO)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.RECEITA_FEDERAL_RAZAO_SOCIAL)<br />@Html.DisplayFor(model => Model.RECEITA_FEDERAL_RAZAO_SOCIAL)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.CORREIOS_TP_LOGRADOURO)<br />@Html.DisplayFor(model => Model.CORREIOS_TP_LOGRADOURO)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.CORR_LOGRADOURO)<br />@Html.DisplayFor(model => Model.CORR_LOGRADOURO)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.CORR_COMPLEMENTO)<br />@Html.DisplayFor(model => Model.CORR_COMPLEMENTO)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.CORR_BAIRRO)<br />@Html.DisplayFor(model => Model.CORR_BAIRRO)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.CORR_BAIRRO_COMPL)<br />@Html.DisplayFor(model => Model.CORR_BAIRRO_COMPL)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.CORR_UF)<br />@Html.DisplayFor(model => Model.CORR_UF)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.CORR_MUNICIPIO)<br />@Html.DisplayFor(model => Model.CORR_MUNICIPIO)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.CORR_CEP)<br />@Html.DisplayFor(model => Model.CORR_CEP)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.CORR_CONSULTA_DTHR)<br />@Html.DisplayFor(model => Model.CORR_CONSULTA_DTHR)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.CORR_CONTADOR_TENTATIVA)<br />@Html.DisplayFor(model => Model.CORR_CONTADOR_TENTATIVA)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(x => Model.CORR_CERTIFICADO_HTML)<br />@Html.DisplayFor(model => Model.CORR_CERTIFICADO_HTML)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
