@model WebForLink.Web.ViewModels.ListaDocumentosSolicitacaoVM
@using (Html.BeginCollectionItem("ListaDocumentosSolicitacaoVM"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ListaDocumentosSolicitacaoVM</h4>
        <hr />
        @Html.HiddenFor(x => x.Id, new { @name = "ListaDocumentoSolicitacaoId" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ExigeValidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ExigeValidade)
                    @Html.ValidationMessageFor(model => model.ExigeValidade, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Obrigatorio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Obrigatorio)
                    @Html.ValidationMessageFor(model => model.Obrigatorio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
