@model WebForLink.Web.ViewModels.AcessoVM

<div class="form-box" id="login-box">
    <div class="header">Acessar</div>
    <div class="text-center bg-gray" style="padding-top: 15px;">
        <img src="~/Content/images/webforlink3_200x45_ed.png" />
    </div>
    @using (Html.BeginForm("Acesso","Home"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ReturnUrl)
        @Html.HiddenFor(model => model.chaveUrl)
        <div class="body bg-gray">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Login, new { @class = "control-label" })
                @if (Model.TravaLogin == 0)
                {
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                }
                else
                {
                    @Html.HiddenFor(model => model.Login)
                    @Html.DisplayFor(model => model.Login)
                }

                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Senha, new { @class = "control-label" })
                @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            <div style="float: left;">
                <a href="@Url.Action("EsqueceuSenha", "Home")" class="btn-link">Esqueci minha Senha</a>
            </div>
            <div style="float: right;">
                <a class="btn-link" onclick="$('#acessoModal').modal('hide')" style="cursor: pointer;">Sair</a>
            </div>
            <div class="clearfix"></div>
        </div>
    }
</div>