@model WebForLink.Web.ViewModels.ListaDocumentosVM

<div id="boxForm" class="box box-primary">
    <div class="box-header"><h3 class="box-title">@ViewBag.Titulo</h3></div>
    <div class="box-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.Hidden("Acao", (string)ViewBag.Acao)

        <div class="col-md-6">
            <div class="form-group">
                <label>Tipo de Documento</label>&nbsp;<span class="text-danger" style="font-weight:bold;">*</span><br />
                @Html.DropDownList("TipoDocumentos", null, "Selecione...", htmlAttributes: new { @class = "form-control input-sm", disable_input = "" })
                @Html.ValidationMessageFor(model => model.TipoDocumento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Documento</label>&nbsp;<span class="text-danger" style="font-weight:bold;">*</span><br />
                @Html.DropDownList("DescricaoDeDocumentos", null, htmlAttributes: new { @class = "form-control input-sm", disable_input = "" })
                @Html.ValidationMessageFor(model => model.DescricaoDocumento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.Obrigatorio, false) <b>Necessário</b>
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.Obrigatorio, true) <b>Exigível</b>
                    </label>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Este documento será atualizado?</label>
                <div class="radio">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.TipoAtualizacao, 1, new { onclick = "$('#divPeriodicidade').hide(); $('#Periodicidade').val('');" }) Não será atualizado
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.TipoAtualizacao, 2, new { onclick = "$('#divPeriodicidade').hide(); $('#Periodicidade').val('');" }) Por Validade
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.TipoAtualizacao, 3, new { onclick = "$('#divPeriodicidade').show();" }) Por Período
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-2" id="divPeriodicidade" style="display: none;">
            <div class="form-group">
                <label>Periodicidade</label>&nbsp;<span class="text-danger" style="font-weight:bold;">*</span><br />
                @Html.DropDownList("Periodicidade", null, "Selecione...", htmlAttributes: new { @class = "form-control input-sm", disable_input = "" })
                @Html.ValidationMessageFor(model => model.Periodicidade, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-8">
            <div class="form-group" style="padding-left: 20px;">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.Ativo, new { disable_input = "" })
                    @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-footer">
            <div class="text-right text-nowrap">
                @if (ViewBag.Acao != "Excluir")
                {
                    <button type="button" class="btn btn-primary" onclick="$('#alert_confirm span').text('Tem certeza que deseja Salvar este Documento?'); $('#alert_confirm').fadeIn('fast');">Salvar</button>
                }
                else
                {
                    <button type="button" class="btn btn-danger" onclick="$('#alert_confirm span').text('Tem certeza que deseja EXCLUIR este Documento?'); $('#alert_confirm').fadeIn('fast');">Excluir</button>
                }
                &nbsp;
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("ListaDocumentosLst")'">Cancelar</button>
            </div>

            <div id="alert_confirm" class="alert alert-warning" role="alert" style="display: none;">
                <span></span>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary btn-xs">Sim</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default btn-xs" onclick="$('#alert_confirm').fadeOut('fast');">Não</button>
            </div>
        </div>
    </div>
</div>

