<div class="wizard">
    <a href="@Url.Action("SolicitacaoFornecedores", "Documento")" @((ViewBag.PassoAtual == 1) ? "class=current" : "")><span class="badge">1</span> Selecionar Fornecedores</a>
    <a href="@Url.Action("SolicitacaoDocumentos", "Documento")" @((ViewBag.PassoAtual == 2) ? "class=current" : "")><span class="badge">2</span> Selecionar Documentos </a>
    <a href="@Url.Action("SolicitacaoEnviar", "Documento")" @((ViewBag.PassoAtual == 3) ? "class=current" : "")><span class="badge">3</span> Enviar <i class="fa fa-envelope"></i></a>
</div>
