@model IEnumerable<WebForLink.Web.Areas.Administracao.Models.UsuarioAdministracaoModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministracao.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-envelope"></i> @ViewBag.Page</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div id="FichaAlertaOkTop" class="alert alert-success" role="alert" style="display: none; font-size: 14px; font-weight: bold; text-align: center;" onclick="$(this).fadeOut('fast')"></div>
    </div>
    <div id="boxGrid" class="box box-primary">
        <div class="box-header"><h3 class="box-title">@ViewBag.Title</h3></div>
        <div class="box-body">
            <div class="row">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        @Html.Hidden("Pagina", (int)ViewBag.Pagina)
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.FirstOrDefault().CPF, new { @class = "control-label" })
                            <input type="text" id="CPF" name="CPF" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.FirstOrDefault().Login, new { @class = "control-label" })
                            <input type="text" id="LOGIN" name="LOGIN" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.FirstOrDefault().Email, new { @class = "control-label" })
                            <input type="text" id="EMAIL" name="EMAIL" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.FirstOrDefault().ContratanteId, new { @class = "control-label" })
                            @Html.DropDownList("Contratante_ID", null, "--Selecione--", new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.FirstOrDefault().Administrador, new { @class = "control-label" })
                            <input type="checkbox" id="PRINCIPAL" name="PRINCIPAL" class="checkbox-inline" value="true">
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.FirstOrDefault().Ativo, new { @class = "control-label" })
                            <input type="checkbox" id="ATIVO" name="ATIVO" class="checkbox-inline" value="true">
                        </div>
                        <div class="col-md-1">
                            <label>&nbsp;</label><br />
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 pull-left text-left">
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("UsuarioLst")';">Incluir Nova @ViewBag.Title</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.CPF)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Login)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Ativo)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Administrador)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.ContratanteId)
                        </th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.CPF)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Login)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            @if (item.Administrador != null && item.Administrador == true)
                            {
                                <td class="text-center">Sim</td>
                            }
                            else
                            {
                                <td class="text-center">Não</td>
                            }
                            @if (item.Ativo != null && item.Ativo == true)
                            {
                                <td class="text-center">Sim</td>
                            }
                            else
                            {
                                <td class="text-center">Não</td>
                            }
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Contratante.RazaoSocial)
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-primary btn-xs" onclick="location.href='@item.UrlEditar'">Editar</button>
                                <button type="button" class="btn btn-primary btn-xs" onclick="location.href='@item.UrlDetalhar'">Detalhar</button>
                                @*<button type="button" class="btn btn-primary btn-xs" onclick="location.href='@item.UrlDeletar'">Deletar</button>*@
                            </td>
                        </tr>
                    }
                    @if (!Model.Any())
                    {
                        <tr class="warning">
                            <td colspan="10" class="text-warning text-center">
                                A pesquisa não retornou nenhum resultado!
                            </td>
                        </tr>
                    }
                </tbody>
            </table> 
            @Html.Partial("_Paginacao")
            <div class="clearfix"></div>
            <div class="row">
                <div class="form-group">
                    <br />
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary pull-right" onclick=" location.href='@Url.Action("UsuarioCriarFrm")' ; "><i class=" fa fa-plus"></i>&nbsp; Incluir Novo @ViewBag.Page</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
