@model WebForLink.Web.Areas.Administracao.Models.UsuarioAdministracaoModel

@Styles.Render("~/style/date")
@Scripts.Render("~/bundles/date")

@{
    ViewBag.Title = "Usuário";
    Layout = "~/Views/Shared/_LayoutAdministracao.cshtml";

    var contratantes = ViewBag.CONTRATANTE_ID;
    int totalContratantes = 0;
    if (contratantes != null)
    {
        totalContratantes = contratantes.Items.Count;
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#CPF').inputmask('999.999.999-99');
        $('#DataNascimento').inputmask("d/m/y");

        //$('[disable-input]').prop('disabled', @(ViewBag.Acao == "Excluir" ? "true" : "false"));

        @(ViewBag.Acao == "Excluir" ? "Excluir(true)" : "")
        
    });

    function Excluir(param){
        $('input').each(function(i){
            $(this).prop('disabled', param);
        });
    }
</script>

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-users"></i> Contas</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Dados do Usuário</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.Hidden("Acao", (string)ViewBag.Acao)
                        @Html.HiddenFor(model => model.Id)
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4" @Html.Raw((totalContratantes == 1 ? "style='display: none;'" : "")) >
                                    <div class="form-group">
                                        <label class="control-label">Empresa</label>
                                        @Html.DropDownListFor(model => model.ContratanteId, (SelectList)ViewBag.CONTRATANTE_ID, new { @class = "form-control input-sm", disable_input = "" })
                                        @Html.ValidationMessageFor(model => model.ContratanteId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control input-sm", disable_input = "" } })
                                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-sm", disable_input = "" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DataNascimento, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control input-sm", disable_input = "" } })
                                        @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CPF, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control input-sm", disable_input = "" } })
                                        @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Cargo, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Cargo, new { htmlAttributes = new { @class = "form-control input-sm", disable_input = "" } })
                                        @Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ExpiraEmDias)
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.ExpiraEmDias, Model.Dominio, new { @class = "form-control input-sm", maxlength = "3" })
                                            <div class="input-group-addon">dias</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Login, new { @class = "control-label" })
                                        @if (ViewBag.Acao == "Alterar") { 
                                            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control input-sm", disabled=true } })
                                            @Html.HiddenFor(model => model.Login)
                                        }
                                        else
                                        {
                                            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control input-sm", disable_input = "" } })
                                        }
                                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LoginSSO, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.LoginSSO, new { htmlAttributes = new { @class = "form-control input-sm", disable_input = "" } })
                                        @Html.ValidationMessageFor(model => model.LoginSSO, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Dominio, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Dominio, new { htmlAttributes = new { @class = "form-control input-sm", disable_input = "" } })
                                        @Html.ValidationMessageFor(model => model.Dominio, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-4">
                                @Html.Partial("_Perfis", Model)
                            </div>
                            <div class="col-md-4">
                                @Html.Partial("_Papeis", Model)
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="text-right text-nowrap">
                                @if (ViewBag.Acao == "Excluir") { 
                                    <button type="button" class="btn btn-danger" onclick="$('#alert_confirm span').text('Tem certeza que deseja Excluir este Usuário?'); $('#alert_confirm').fadeIn('fast');">Excluir</button>
                                }
                                else 
                                { 
                                    <button type="button" class="btn btn-primary" onclick="$('#alert_confirm span').text('Tem certeza que deseja salvar este Usuário?'); $('#alert_confirm').fadeIn('fast');">Salvar</button>
                                }
                                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("GerenciarContasLst")';">Cancelar</button>
                            </div>
                            <div id="alert_confirm" class="alert alert-warning" role="alert" style="display: none;">
                                <span></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary btn-xs" onclick="Excluir(false); $('form').submit();">Sim</button>&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-default btn-xs" onclick="$('#alert_confirm').fadeOut('fast');">Não</button>
                            </div>
                        </div>
                    }
                    @*<div>
                        @Html.ActionLink("Voltar", "GerenciarContasLst")
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
