<br />
    <ul class="pager">
        @if (ViewBag.Pagina > 1)
        {
            <li class="previous"><a href="#" onclick="Paginacao(1);"><i class="fa fa-angle-double-left fa-lg"></i>&nbsp;&nbsp;Primeira</a></li>
            <li class="previous"><a href="#" onclick="Paginacao(@(ViewBag.Pagina - 1));"><i class="fa fa-angle-left fa-lg"></i>&nbsp;&nbsp;Anterior</a></li>
        }
        @if (ViewBag.Pagina < ViewBag.TotalPaginas)
        {
            <li class="previous"><a href="#" onclick="Paginacao(@(ViewBag.Pagina + 1));">Próxima&nbsp;&nbsp;<i class="fa fa-angle-right fa-lg"></i></a></li>
            <li class="previous"><a href="#" onclick="Paginacao(@ViewBag.TotalPaginas);">Última&nbsp;&nbsp;<i class="fa fa-angle-double-right fa-lg"></i></a></li>
        }
        <li class="previous text"><span>Página @ViewBag.Pagina de @ViewBag.TotalPaginas</span></li>
        <li class="next text"><span>Total de Registros: @ViewBag.TotalRegistros</span></li>
    </ul>

    <script type="text/javascript">
        function Paginacao(pagina) {
            $('#Pagina').val(pagina);
            $('form').submit();
        }
    </script>